@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --laranja-primario:hsl(25, 97%, 53%);
    --branco: hsl(0, 0%, 100%);
    --cinza-claro: hsl(217, 12%, 63%);
    --cinza: hsl(216, 12%, 54%);
    --azul-escuro: hsl(214, 20%, 21%);
    --azul-bem-escuro: hsl(216, 13%, 15%);

    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400px;
}

body{
    background-color: rgb(6, 6, 6)
}

.container{
    background-color: var(--azul-bem-escuro);
    padding: 1.5em;
    border-radius: 1.5em;
    
}

.icone-estrela{
    background-color: var(--azul-escuro);
    border-radius: 50%;
    padding: 0.5em;
}

.titulo{
    color: var(--branco);
    font-weight: 700px;
}

.descricao{
    color: var(--cinza);
}

form{
    text-align: center;
}

.lista-notas{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding: 0;
    column-gap: 1em;
}

.botao-lista{
    border-radius: 100%;
    padding: 0.7em;
    width: 45px;
    height: 45px;
    border: none;
    background-color: var(--azul-escuro);
    color: var(--cinza);
    cursor: pointer;
    margin: 1.5em 0;
}

.botao-lista:hover{
    background-color: var(--laranja-primario);
    color: var(--branco);
}

.ativo{
    border-radius: 100%;
    padding: 0.7em;
    width: 45px;
    height: 45px;
    border: none;
    background-color: var(--laranja-primario);
    color: var(--branco);
    cursor: pointer;
    margin: 1.5em 0;
}

.botao-enviar{
    border-radius: 10%;
    background-color: var(--laranja-primario);
    color: var(--branco);
    font-family: 'Overpass', sans-serif;
    font-size: 17px;
    font-weight: 650;
    text-transform: uppercase;
    padding: 0.5em;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    width: 100%
}

.botao-enviar:hover{
    background-color: var(--branco);
    color: var(--laranja-primario);
}

/************* PAGINA DE OBRIGADO **********/

.obrigado{
    text-align: center;
    display: none;
}

.imagem-obrigado{
    margin: 1em 0;
}

.descricao-nota{
    background-color: var(--azul-escuro);
    background-size: auto;
    color: var(--laranja-primario);
    padding: 0.3em;
    border-radius: 1em;
}

/************** DESKTOP ********************/

@media screen and (min-width:1440px) {
    body{
        display: flex;
        justify-content: center;
    }

    .container{
        max-width: 20%;
        margin-top: 5em;
    }
}